// Styles for all of the user pages:
// Login, Signup, Support

page-login {
  .logo {
    padding: 10px 0;
    min-height: 20%;
    text-align: center;

    img {
      max-width: 100px;
      box-shadow: none;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .bonz-button {
    height: 300px;
  }
}
